.iola-appearance {
  display: flex;
  flex-direction: row;

  .iola-option {
    $right-width: 100px;
    display: flex;
    margin-bottom: 30px;

    .iola-option-left {
      display: flex;
      align-items: flex-end;
      width: $right-width;
      margin-right: 25px;

      iola-image-picker {
        width: 100%;
        height: 100%;
      }

      iola-color-picker {
        width: 100%;
      }
    }

    &.iola-option-logo {
      .iola-option-left {
        height: $right-width;
      }
    }

    &.iola-option-background {
      .iola-option-left {
        height: 160px;
      }
    }

    &.iola-option-primary-color {
      input {
        text-transform: uppercase;
      }
    }

    .iola-option-right {
      .iola-option-description {
        color: #5b646a;
      }
    }
  }

  .iola-preview {
    $preview-scale: 0.7;
    $preview-width: (375px + 14 * 2);
    width: $preview-width * $preview-scale;
    margin-left: 80px;

    iola-app-preview {
      width: $preview-width;
      height: (667px + 41 * 2);
      margin: -112px -61px (-112px + 28);
      transform: scale($preview-scale);
    }
  }
}

.iola-bottom-controls {
  display: flex;
  justify-content: flex-end;

  .iola-save-description {
    margin-right: 20px;
  }
}
