<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>iola Backend</name>
    <key>iola</key>
    <description>Backend for iola application</description>
    <author>Sergey Kambalin</author>
    <authorEmail>hello@iola.app</authorEmail>
    <developerKey>4de7d12343ccb157ece55b3ec3feadf5</developerKey>
    <build>1</build>
    <copyright>(C) 2019 iola team. All rights reserved.</copyright>
    <license>OSCL</license>
    <licenseUrl>https://developers.oxwall.com/store/oscl</licenseUrl>
</plugin>