<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>iola</name>
    <key>iola</key>
    <description>Adds iola application’s support</description>
    <author>iola team</author>
    <authorEmail>hello@iola.app</authorEmail>
    <developerKey>8bd991d0c02bcd91a2b4321e98783f4d</developerKey>
    <build>4</build>
    <copyright>(C) 2019 iola team. All rights reserved.</copyright>
    <license>OSCL</license>
    <licenseUrl>https://developers.oxwall.com/store/oscl</licenseUrl>
</plugin>