IOLA Settings

<div class="iola-plugin">
  <div class="main"></div>
  <div class="device-frame">
    <div class="screen">
      <div class="status-bar">
        <div class="icons"></div>
        <div class="time">12:30</div>
      </div>
      <div class="title">Sign In</div>
      <div class="form">
        <input class="input login" placeholder="Email or login" type="text" />
        <span class="with-icon">
          <input class="input password" placeholder="Password" type="text" />
        </span>
        <div class="forgot-password">Forgot password?</div>
      </div>
      <div class="button">Sign In</div>
      <div class="button bordered">Sign Up</div>
      <div class="button bordered">Change Website URL</div>
    </div>
  </div>
</div>
